// Used Controls:["button","chip","autocomplete","combobox","dropdownlist","multiselect","input","maskedtextbox","numerictextbox","colorpicker","slider","checkbox","rating","switch","textarea","radio","panelbar","menu","splitter","tabstrip","card","tilelayout","drawer","appbar","bottom-navigation","stepper","avatar","badge","loader","icons","dialog","window","notification","tooltip","chat","forms"]
$base-theme: Bootstrap;
$skin-name: Hackaton;
$swatch-name: Bootstrap;
$border-radius: 1.25rem;
$accent: #6e6be8;
$secondary: #c3c2f5;
$info: #17a2b8;
$success: #28a745;
$warning: #ffc107;
$error: #dc3545;
$body-bg: #ffffff;
$body-color: #292b2c;
$component-bg: #ffffff;
$component-color: #292b2c;
$card-cap-bg: #6e6be8;
$card-cap-color: #ffffff;
$series-a: #0275d8;
$series-b: #5bc0de;
$series-c: #5cb85c;
$series-d: #f0ad4e;
$series-e: #e67d4a;
$series-f: #d9534f;
